{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <h1>{{ 'home.headline'|trans }}</h1>
    <p>{{ 'home.subtitle'|trans }}</p>

    <a href="{{ path('app_category_index') }}" class="btn btn-primary m-2">{{ 'home.view_categories'|trans }}</a>
    <a href="{{ path('app_product_index') }}" class="btn btn-success m-2">{{ 'home.view_products'|trans }}</a>
</div>
{% endblock %}
